body{
margin:0;
font-family:'Inter',sans-serif;
background:#56699C;
}

header{
text-align:center;
color:white;
padding:2rem 1rem;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:1.5rem;
padding:1.5rem;
}

.semester{
background:#FEFEFE;
border:4px solid #D4C8DC;
border-radius:28px;
padding:1rem;
}

.semester h3{
background:#556DA6;
color:#313F5E;
font-family:'Poppins',sans-serif;
border-radius:18px;
text-align:center;
padding:.5rem;
}

.ramo{
border-radius:14px;
padding:.45rem;
margin:.35rem 0;
cursor:pointer;
font-size:.85rem;
}

.base{background:#CAB1CE;}
.related{background:#CBB399;}
.prereq{background:#C0EAFA;}
.other{background:#FFC3DD;}
.certificable{border:2px dashed #313F5E;}

.locked{
background:#BABABA;
cursor:not-allowed;
}

.approved{
background:#94404D;
color:white;
text-decoration:line-through;
}

/* PROGRESO */
.progress-container{
max-width:260px;
margin:auto;
color:white;
}

.progress-bar{
background:#ddd;
border-radius:20px;
overflow:hidden;
}

#progress-fill{
height:10px;
width:0%;
background:#94404D;
}
